@import url('materialize/materialize.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}