@page "/payments/create"
@using FutterlisteNg.Data.Model
@using FutterlisteNg.Domain.Service
@using FutterlisteNg.Web.Components
@using FutterlisteNg.Web.Service
@using Microsoft.AspNetCore.Components
@inject NavigationManager NavigationManager
@inject IUserService UserService
@inject IPaymentService PaymentService
@inject IToastService ToastService


<h2>New Payment</h2>

<PaymentDetails SubmitButtonText="Create" OnSubmit="CreatePayment" />

@code {
    private readonly Payment _payment = new Payment();

    protected override Task OnInitializedAsync()
    {
        _payment.PaymentLines.Add(new PaymentLine(null, 0));
        return base.OnInitializedAsync();
    }
    
    private async Task CreatePayment()
    {
        await PaymentService.AddAsync(_payment);
        NavigationManager.NavigateTo("/payments");
        await ToastService.Success("Payment created");
    }

}