@page "/payments"
@using FutterlisteNg.Data.Model
@using FutterlisteNg.Web.Service
@inject IToastService ToastService

<h2>Payments</h2>

@if (_payments == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Payed by</th>
                <th>Description</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @if (_payments.Length == 0)
            {
                <p>No users found.</p>
            }
        </tbody>
    </table>
}

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red" href="/payments/create"><i class="material-icons">add</i></a>
</div>
@code {
    Payment[] _payments;

    protected override async Task OnInitializedAsync()
    {
        _payments = new Payment[0];
    }
}
