@page "/payments"
@using FutterlisteNg.Data.Model
@using FutterlisteNg.Domain.Service
@using FutterlisteNg.Web.Service
@inject IToastService ToastService
@inject IPaymentService PaymentService

<h2>Payments</h2>

@if (_payments == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Payed by</th>
            <th>Description</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        @if (_payments.Length == 0)
        {
            <p>No users found.</p>
        }
        else
        {
            foreach (var payment in _payments)
            {
                <tr>
                    <td>@payment.PayedBy</td>
                    <td>@payment.Description</td>
                    <td>@payment.TotalAmount</td>
                </tr>
            }
        }
        </tbody>
    </table>
}

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red" href="/payments/create">
        <i class="material-icons">add</i>
    </a>
</div>

@code {
    Payment[] _payments;

    protected override async Task OnInitializedAsync()
    {
        _payments = (await PaymentService.FindAllAsync()).ToArray();
    }

}