@inherits LayoutComponentBase

<div class="main">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">FutterlisteNg</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li>
                    <a href="user-list">Users</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="app">
        @Body
    </div>
</div>