@page "/user-list"
@using FutterlisteNg.Domain.Model
@using FutterlisteNg.Web.Services
@inject IUserClientService UserClientService 

<h2>Users</h2>

@if (_users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in _users)
            {
                <tr>
                    <td>@user.Name (@user.ShortName)</td>
                </tr>
            }
            @if (_users.Length == 0)
            {
                <p>No users found.</p>
            }
        </tbody>
    </table>
}

@code {
    User[] _users;

    protected override async Task OnInitializedAsync()
    {
        _users = await UserClientService.All();
    }
}
