@import url('materialize/materialize.min.css');

.app  {
    padding-left: 20%;
    padding-right: 20%;
}

#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left:7%;
}

.error-toast {
    background-color: red;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}