@import url('materialize/materialize.min.css');

.app  {
    padding-left: 20%;
    padding-right: 20%;
}

#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left:7%;
}

div.col.payment-container {
    padding-right: 100px;
}

.error-toast {
    background-color: red;
}

.success-toast {
    background-color: green;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.btn-red {
    background-color: red;
}

.btn-red:hover {
    background-color: palevioletred;
}

.btn-blue {
    background-color: blue;
}

.btn-blue:hover {
    background-color: dodgerblue;
}

.btn-add-row {
    color: black;
    background-color: white;
    border-color: gray;
    margin: 10px;
    width: 100%;
}

.btn-add-row:hover {
    background-color: #EEEEEE;
}

.btn-add-row:focus {
    background-color: #EEEEEE;
}