@page "/users"
@using FutterlisteNg.Data.Model
@using FutterlisteNg.Domain.Service
@using FutterlisteNg.Web.Service
@using FutterlisteNg.Web.Components
@using Microsoft.AspNetCore.Components
@inject NavigationManager NavigationManager
@inject IToastService ToastService
@inject IUserService UserService

<h2>Users</h2>

@if (_users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in _users)
            {
                <tr>
                    <td>@user.Name (@user.Username)</td>
                    <td><DeleteButton OnClick="(() => DeleteUser(user))"/></td>
                </tr>
            }
            @if (_users.Length == 0)
            {
                <p>No users found.</p>
            }
        </tbody>
    </table>
}

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red" href="/users/create"><i class="material-icons">add</i></a>
</div>
@code {
    User[] _users;

    protected override async Task OnInitializedAsync()
    {
        await LoadUsers();
    }

    private async Task DeleteUser(User user)
    {
        await UserService.Delete(user.Username);
        // TODO Why does this not work?
        await LoadUsers();
        await ToastService.Success("User deleted");
    }

    private async Task LoadUsers()
    {
        _users = (await UserService.FindAllAsync()).ToArray();
    }

}
