@page "/users"
@using FutterlisteNg.Shared
@using FutterlisteNg.Web.Client
@using FutterlisteNg.Web.Service
@inject IUserClient UserClient 
@inject IToastService ToastService

<h2>Users</h2>

@if (_users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in _users)
            {
                <tr>
                    <td>@user.Name (@user.ShortName)</td>
                </tr>
            }
            @if (_users.Length == 0)
            {
                <p>No users found.</p>
            }
        </tbody>
    </table>
}

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red" href="/users/create"><i class="material-icons">add</i></a>
</div>
@code {
    UserViewModel[] _users;

    protected override async Task OnInitializedAsync()
    {
        ToastService.Error("test");
        _users = await UserClient.All();
    }
}
